body {
    background-color: #363636;
    color: #fff;
    margin: 2.25rem;
}

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

.TitreGrandRafaella {
    font-family: "rafaella", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
}

.TitreTresGrandRafaella {
    font-family: "rafaella", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 37px;
}

.TitreMoyenRafaella {
    font-family: "rafaella", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
}

.BeebopRafaella {
    font-family: "rafaella", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 31px;
}

.ComeFeelTheMusicRafaella {
    font-family: "rafaella", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    color: #FCCB4E;
}

.TitreGrandPoppins {
    font-family: "poppins", sans-serif;
    font-size: 32px;
    font-weight: 600;
}

.TitreTresGrandPoppins {
    font-family: "poppins", sans-serif;
    font-size: 43px;
    font-weight: 600;
}

.ParagrapheMedium {
    font-family: "poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.ParagrapheGras {
    font-family: "poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.Paragraphe {
    font-family: "poppins", sans-serif;
    font-weight: 200;
    font-size: 14px;
}



.blur {
    -webkit-filter: blur(200px);
    -moz-filter: blur(200px);
    -o-filter: blur(200px);
    -ms-filter: blur(200px);
    filter: blur(200px);
}

.circle1 {
   
    width: 451px;
    height: 451px;
    border-radius: 50%;
    background-color: #BB4DCD ;
    position: fixed;
    margin-left: -100%;
    margin-top: 80%;
   
}
.circle2 {
   
    width: 451px;
    height: 451px;
    border-radius: 50%;
    background-color: #BB4DCD ;
    position: fixed;
    margin-left: 130%;
    margin-top: -150%;
   
}

.logotexte {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2rem;
}

.textelogo{
    line-height: 70%;
}

.landing-title {
    font-family: "poppins", sans-serif;
    font-size: 43px;
    font-weight: 700;
    text-transform: uppercase;
}

.landing-title--line {
    font-family: "poppins", sans-serif;
    font-size: 43px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

.landing-title--raf {
        font-family: "rafaella", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 37px;
}

.landing-subtitle {
    font-family: "poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.create-account-button {
    width: 100%;
    border: none; 
    border-radius: 0.313rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    color: #000;
    background-color: #FCCB4E;
    text-align: center; 
    display: inline-block; 
    font-size: 1rem; 
    text-decoration: none;
    font-family: "poppins", sans-serif;
    font-weight: 600;
    font-size: 14px;
}

.connect-to-account-button {
    width: 100%;
    border: none; 
    border-radius: 0.313rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    color: #fff;
    text-align: center; 
    display: inline-block; 
    font-size: 1rem; 
    text-decoration: none;
    font-family: "poppins", sans-serif;
    font-weight: 600;
    font-size: 14px;
}

.ou {
    font-family: "poppins", sans-serif;
    font-weight: 200;
    font-size: 14px;
    text-align: center;
}








label {
   
    display: block;

    font:
      1rem 'Poppins',
 
  }
  
  input,
  label {
    margin: 0.75rem 0;
  }
  
.input{
    width: 100%;
    border-radius: 0.313rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    border-color: #BB4DCD;
    border-width:0.188rem;
    background-color: #363636;
    color: #fff;
    font-family: "poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.input:focus{
    width: 100%;
    border-radius: 0.313rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    border-color: #D898E3;
    border-width:0.188rem;
    background-color: #363636;
    color: #fff;
}

.boutonviolet {
            width: 100%;
            border: none; 
            border-radius: 0.313rem;
            padding-top: 0.75rem;
            padding-bottom: 0.75rem;
            color: #fff;
            background-color: #BB4DCD;
            text-align: center; 
            display: inline-block; 
            font-size: 1rem; 
            text-decoration: none;
            font-family: "poppins", sans-serif;
            font-weight: 400;
            font-size: 14px;

        }

 .boutonviolet:active {
            background-color: #D898E3;
        }

.boutonjaune {
    width: 100%;
    border: none; 
    border-radius: 0.313rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    color: #fff;
    background-color: #FCCB4E;
    text-align: center; 
    display: inline-block; 
    font-size: 1rem; 
    text-decoration: none; 
}

.boutonjaune:active {
    background-color: #FFE194
    ;
}
