html{
    background-image: radial-gradient(circle at bottom left, rgba(187,77,205,1) 0%, rgba(54,54,54,1) 75%);
    background-size: 100%;
    background-color: #363636;
    background-repeat: no-repeat;
    height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container-scroll {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}



section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    
}

h1 {
    color: #fff;
}



.four {
    background-color: greenyellow;
}



body {
    margin: 0;
    padding: 0;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.navbar {
    display: flex;
    background-color: #000;
    padding: 10px 0;
    width: 100%;
    max-width: 500px;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.nav-item {
    position: relative;
    text-align: center;
    color: white;
    cursor: pointer;
    transition: transform 0.3s;
}

.nav-item img {
    width: 24px;
    height: 24px;
    margin-bottom: 5px;
    transition: transform 0.3s;
}

.nav-item span {
    display: block;
    font-size: 12px;
}

.nav-item .indicator {
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 30px;
    background-color: transparent;
    border-radius: 0 0 50px 50px;
    z-index: -1;
    transition: background-color 0.3s;
}

.nav-item .indicator::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 24px;
    height: 24px;
    background-color: transparent;
    border-radius: 50%;
    z-index: -2;
    transition: background-color 0.3s;
}

.nav-item.active img {
    background-color: #A46DE3;
    border-radius: 50%;
    padding: 10px;
    transform: scale(1.2);
}

.nav-item.active .indicator,
.nav-item.active .indicator::before {
    background-color: #A46DE3;
}

.nav-item:not(.active) img {
    transform: scale(1);
}
