body {
    background-color: #363636;
    color: #fff;
}



.logotexte {
    display: flex;
    flex-direction: row;
    padding-top: 5.188rem;
    padding-left: 4.313rem;
    padding-right: 4.313rem;
}

.textelogo{
    padding: 1rem;
}