* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container-scroll {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

body {

}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

h1 {
    color: #fff;
}

.one {
    background-color: red;
}

.two {
    background-color: blue;
}

.three {
    background-color: yellow;
}

.four {
    background-color: greenyellow;
}


.post-bar {
    display: flex;
    flex-direction: column;
    position: fixed;
    gap: 1.5rem;
    margin-left: 21.1rem;
    align-items: center;
    margin-top: 17.1rem;
}

.icon-post-bar {
    max-width: 2.5rem;
}